- if @client.locations.blank?
  %p Currently no locations for this client

- else
  - @client.locations.each do |location|
    %div
      %p
        %strong Address 1:
        = location.addr1

      %p
        %strong Address 2:
        = location.addr2

      %p
        %strong Zip:
        = location.zip

      %p
        %strong City:
        = location.city
