%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml
-if user_signed_in?
  =link_to "Sign out", :action=>"destroy", :controller=>"devise/sessions"
-else
  =link_to "Sign in", :action=>"new", :controller=>"devise/sessions"
